@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-style: normal;

    body{
        display: flex;
        justify-content: center;

        .game{
            position: relative;
            top: 5vh;
            height: 80vh;
            width: 30vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border: 2px solid black;
            border-radius: 10px;
            
        
            header{
                font-size:4vh;
                text-align: center;
            }

            .buttons{
                display: flex;
                gap: 2vh;
                button{
                    font-size: 9vh;
                    border-radius: 50%;

                    &:hover{
                        background-color: hsl(0, 0%, 20%);
                    }
                    &:focus{
                        background-color: hsl(0, 0%, 40%);
                    }
                }
            }

            .vs{
                text-align: center;
                font-size: 3vh;
                gap: 5vh;
                width: 100%;

                &>div{
                    text-wrap: wrap;
                }
                
            }

            .result{
                text-align: center;
                font-size: 4vh;
            }

            .Scores{
                text-align: center;
                font-size: 3vh;
            }

            &>button{
                padding: 2vh 2vw;
                border-radius: 10px;
                border: none;
                font-size: 2vh;
                font-weight: 600;
                background-color: pink;
            }
        }
    }
}